<section>
    <div class="container">
        <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus semper placerat metus.</p>
    </div>

    <div class="blogs row row-cols-md-2 g-2">
        <div class="blog d-flex">
            <div class="left">
                <img [src]="image1" alt="" srcset="">
            </div>
            <div class="right">
                <h4>The Do’s and Don’ts of Fixing a Blocked Drain</h4>
                <div class="calender d-flex ">
                    <img [src]="calenderLogo" alt="" srcset="">
                    <span class="calender-p">January 4, 2022</span>
                </div>
                <p class="decription">The Do’s and Don’ts of Fixing a Blocked Drain Lorem ipsum dolor sit amet
                    consectetur</p>
                <p class="fotter-p ">Read More <span><img [src]="rowLogo" alt="" srcset=""></span></p>
            </div>
        </div>
        <div class="blog d-flex">
            <div class="left">
                <img [src]="image2" alt="" srcset="">
            </div>
            <div class="right">
                <h4>The Do’s and Don’ts of Fixing a Blocked Drain</h4>
                <div class="calender d-flex">
                    <img [src]="calenderLogo" alt="" srcset="">
                    <span class="calender-p">January 4, 2022</span>
                </div>
                <p class="decription">The Do’s and Don’ts of Fixing a Blocked Drain Lorem ipsum dolor sit amet
                    consectetur</p>
                <p class="fotter-p">Read More <span><img [src]="rowLogo" alt="" srcset=""></span></p>
            </div>
        </div>
        <div class="blog d-flex position-relative">
            <div class="left">
                <img [src]="image3" alt="" srcset="">
            </div>
            <div class="right">
                <h4>The Do’s and Don’ts of Fixing a Blocked Drain</h4>
                <div class="calender d-flex">
                    <img [src]="calenderLogo" alt="" srcset="">
                    <span class="calender-p">January 4, 2022</span>
                </div>
                <p class="decription">The Do’s and Don’ts of Fixing a Blocked Drain Lorem ipsum dolor sit amet
                    consectetur</p>
                <p class="fotter-p">Read More <span><img [src]="rowLogo" alt="" srcset=""></span></p>
            </div>
        </div>
        <div class="blog d-flex">
            <div class="left">
                <img [src]="image4" alt="" srcset="">
            </div>
            <div class="right">
                <h4>The Do’s and Don’ts of Fixing a Blocked Drain</h4>
                <div class="calender d-flex">
                    <img [src]="calenderLogo" alt="" srcset="">
                    <span class="calender-p">January 4, 2022</span>
                </div>
                <p class="decription">The Do’s and Don’ts of Fixing a Blocked Drain Lorem ipsum dolor sit amet
                    consectetur</p>
                <p class="fotter-p">Read More <span><img [src]="rowLogo" alt="" srcset=""></span></p>
            </div>
        </div>

    </div>

    <button class=""> see More <span><img [src]="whiteRow" alt="" srcset=""></span></button>
</section>