<section>
    <div class="container ">
        <h2 class="title">Providing excellent services for the last 25 years</h2>
        <div class="row row-cols-4 pt-2 provider ">

            <div class="providing d-flex">
                <div class="left">
                    <img class="icon" [src]="icon1" alt="" srcset="">
                </div>
                <div class="right">
                    <h2 class="hprovider">1200<span>+</span></h2>
                    <p> Customers</p>
                </div>
            </div>
            <div class="providing d-flex">
                <div class="left">
                    <img class="icon" [src]="icon2" alt="" srcset="">
                </div>
                <div class="right">
                    <h2 class="hprovider">8,714<span>+</span></h2>
                    <p>Installed Units</p>
                </div>
            </div>
            <div class="providing d-flex">
                <div class="left">
                    <img class="icon" [src]="icon3" alt="" srcset="">
                </div>
                <div class="right">
                    <h2 class="hprovider">1600<span>+</span></h2>
                    <p>Home Served</p>
                </div>
            </div>
            <div class="providing d-flex">
                <div class="left">
                    <img class="icon" [src]="icon4" alt="" srcset="">
                </div>
                <div class="right">
                    <h2 class="hprovider">500<span>+</span></h2>
                    <p>Professional</p>
                </div>
            </div>
        </div>
    </div>
</section>