<section>
    <div class="container">
        <div class="row row-cols-md-4  justify-content-between">
            <img [src]="logo1" alt="" srcset="">
            <img [src]="logo2" alt="" srcset="">
            <img [src]="logo3" alt="" srcset="">
            <img [src]="logo4" alt="" srcset="">
            <img [src]="logo5" alt="" srcset="">
            <img [src]="logo6" alt="" srcset="">
            <img [src]="logo7" alt="" srcset="">
            <img [src]="logo8" alt="" srcset="">
        </div>
    </div>
</section>