<section>
    <div class="row row-cols-1 row-cols-md-3 g-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4>Residential Plumbing</h4>
                    <h1>$199<span>/Month</span></h1>
                    <ul>
                        <li class="d-flex">
                            <img [src]="imageCheck" alt="" srcset="">
                            <a href="">Free Diagnostics & Consultation</a>
                        </li>
                        <li class="d-flex">
                            <img [src]="imageCheck" alt="" srcset="">
                            <a href="">Free Diagnostics & Consultation</a>
                        </li>
                        <li class="d-flex">
                            <img [src]="imageCheck" alt="" srcset="">
                            <a href="">Free Diagnostics & Consultation</a>
                        </li>
                        <li class="d-flex">
                            <img [src]="imageCheck" alt="" srcset="">
                            <a href="">Free Diagnostics & Consultation</a>
                        </li>
                        <li class="d-flex">
                            <img [src]="imageCheck" alt="" srcset="">
                            <a href="">Free Diagnostics & Consultation</a>
                        </li>
                        <li class="d-flex">
                            <img [src]="imageCheck" alt="" srcset="">
                            <a href="">Free Diagnostics & Consultation</a>
                        </li>
                    </ul>
                    <button id="b13" class="rounded-2">Get Started</button>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4>Commercial Plumbing</h4>
                    <h1>$499<span>/Month</span></h1>
                    <ul>
                        <li class="d-flex">
                            <img [src]="imageCheck" alt="" srcset="">
                            <a href="">Free Diagnostics & Consultation</a>
                        </li>
                        <li class="d-flex">
                            <img [src]="imageCheck" alt="" srcset="">
                            <a href="">Free Diagnostics & Consultation</a>
                        </li>
                        <li class="d-flex">
                            <img [src]="imageCheck" alt="" srcset="">
                            <a href="">Free Diagnostics & Consultation</a>
                        </li>
                        <li class="d-flex">
                            <img [src]="imageCheck" alt="" srcset="">
                            <a href="">Free Diagnostics & Consultation</a>
                        </li>
                        <li class="d-flex">
                            <img [src]="imageCheck" alt="" srcset="">
                            <a href="">Free Diagnostics & Consultation</a>
                        </li>
                        <li class="d-flex">
                            <img [src]="imageCheck" alt="" srcset="">
                            <a href="">Free Diagnostics & Consultation</a>
                        </li>
                    </ul>
                    <button id="b2" class="rounded-2">Get Started</button>
                    <img class="img-footer" [src]="lineUnder" alt="">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4>Service & Repair</h4>
                    <h1>$399<span>/Month</span></h1>
                    <ul>
                        <li class="d-flex">
                            <img [src]="imageCheck" alt="" srcset="">
                            <a href="">Free Diagnostics & Consultation</a>
                        </li>
                        <li class="d-flex">
                            <img [src]="imageCheck" alt="" srcset="">
                            <a href="">Free Diagnostics & Consultation</a>
                        </li>
                        <li class="d-flex">
                            <img [src]="imageCheck" alt="" srcset="">
                            <a href="">Free Diagnostics & Consultation</a>
                        </li>
                        <li class="d-flex">
                            <img [src]="imageCheck" alt="" srcset="">
                            <a href="">Free Diagnostics & Consultation</a>
                        </li>
                        <li class="d-flex">
                            <img [src]="imageCheck" alt="" srcset="">
                            <a href="">Free Diagnostics & Consultation</a>
                        </li>
                        <li class="d-flex">
                            <img [src]="imageCheck" alt="" srcset="">
                            <a href="">Free Diagnostics & Consultation</a>
                        </li>
                    </ul>
                    <button id="b13" class="rounded-2">Get Started</button>

                </div>
            </div>
        </div>
    </div>
</section>