<section>
    <div class="top-nav text-white d-flex justify-content-between align-items-center">
        <div class="left">
            <p>Working Time: Mon - Thu 9:00 AM - 5:00 PM</p>
        </div>
        <div class="center d-flex">
            <div class="first">
                <img src="/icons/Email.svg" alt="" srcset="">
                <span>info@template.com</span>
            </div>
            <div class="second">
                <img src="/icons/Phone.svg" alt="" srcset="">
                <span>+ (100) 234-5678</span>
            </div>
        </div>
        <div class="third ">
            <ul class="list-unstyled d-flex ">
                <li>
                    <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                </li>
            </ul>
        </div>
    </div>
</section>