<section class="d-flex ">
    <div class="part-1 col-4 gap-0">
        <div class="image-container">
            <img [src]="image" alt="" width="40px" height="40px">
        </div>
    </div>
    <div class="part-2 col-8">
        <h1>Taking regular plumbing care will save you time and money</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
        <ul>
            <li class="d-flex">
                <img [src]="checkIcon" alt="" srcset="">
                <a href="">Praesent Sodales Orci</a>
            </li>
            <li class="d-flex">
                <img [src]="checkIcon" alt="" srcset="">
                <a href="">Curabitur Dignissim</a>
            </li>
            <li class="d-flex">
                <img [src]="checkIcon" alt="" srcset="">
                <a href="">Nulla Condimentum</a>
            </li>
        </ul>
        <button>More About Us <img [src]="rowUp" alt="" srcset=""></button>
    </div>
</section>