<section class="m-auto">
    <!-- cards -->
    <div class="row row-cols-1 row-cols-md-3 ">
        <div class="col">
            <div class="card rounded-2 " id="ACard">
                <img [src]="image1" class="card-img-top" alt="...">
                <div class="card-body">
                    <img class="icon" [src]="icon1" alt="" srcset="">
                    <h4 class="card-title">Plumbing Installation</h4>

                    <p class="card-text">Lorem ipsum dolor sit amet consectetur. Adipiscing quis ornare hac
                        convallis a
                        diam gravida in. Ac in tempus leo dolor nisl donec erat consequat.</p>
                </div>
                <p class="card-fotter">Learn More <img class="icon" [src]="whiteRightRow" alt="" srcset=""></p>
            </div>
        </div>
        <div class="col">
            <div class="card rounded-2" id="BCard">
                <img [src]="image2" class="card-img-top" alt="...">
                <div class="card-body">
                    <img class="icon" [src]="icon2" alt="" srcset="">
                    <h4 class="card-title">General Plumbing</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur. Adipiscing quis ornare hac
                        convallis a
                        diam gravida in. Ac in tempus leo dolor nisl donec erat consequat.</p>
                </div>
                <p class="card-fotter">Learn More <img class="icon" [src]="RightRow" alt="" srcset=""></p>
                <img [src]="lineUnder" alt="" srcset="">
            </div>
        </div>
        <div class="col">
            <div class="card rounded-2" id="BCard">
                <img [src]="image3" class="card-img-top" alt="...">
                <div class="card-body">
                    <img class="icon" [src]="icon3" alt="" srcset="">
                    <h4 class="card-title">Plumbing Maintanence </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur. Adipiscing quis ornare hac
                        convallis a
                        diam gravida in. Ac in tempus leo dolor nisl donec erat consequat.</p>
                </div>
                <p class="card-fotter">Learn More <img class="icon" [src]="RightRow" alt="" srcset=""></p>
                <img [src]="lineUnder" alt="" srcset="">
            </div>
        </div>
        <div class="col">
            <div class="card rounded-2" id="BCard">
                <img [src]="image4" class="card-img-top" alt="...">
                <div class="card-body">
                    <img class="icon" [src]="icon4" alt="" srcset="">
                    <h4 class="card-title">Fixing Pipes</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur. Adipiscing quis ornare hac
                        convallis a
                        diam gravida in. Ac in tempus leo dolor nisl donec erat consequat.</p>
                </div>
                <p class="card-fotter">Learn More <img class="icon" [src]="RightRow" alt="" srcset=""></p>
                <img [src]="lineUnder" alt="" srcset="">
            </div>
        </div>
        <div class="col ">
            <div class="card rounded-2" id="BCard">
                <img [src]="image5" class="card-img-top" alt="...">
                <div class="card-body">
                    <img class="icon" [src]="icon5" alt="" srcset="">
                    <h4 class="card-title">Plumbing Line Consultation</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur. Adipiscing quis ornare hac
                        convallis a
                        diam gravida in. Ac in tempus leo dolor nisl donec erat consequat.</p>
                </div>
                <p class="card-fotter">Learn More <img class="icon" [src]="RightRow" alt="" srcset=""></p>
                <img [src]="lineUnder" alt="" srcset="">
            </div>
        </div>
        <div class="col ">
            <div class="card rounded-2" id="BCard">
                <img [src]="image6" class="card-img-top" alt="...">
                <div class="card-body">
                    <img class="icon" [src]="icon6" alt="" srcset="">
                    <h4 class="card-title">Drain Cleaning</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur. Adipiscing quis ornare hac
                        convallis a
                        diam gravida in. Ac in tempus leo dolor nisl donec erat consequat.</p>
                </div>
                <p class="card-fotter">Learn More <img class="icon" [src]="RightRow" alt="" srcset=""></p>
                <img [src]="lineUnder" alt="" srcset="">
            </div>
        </div>
    </div>
</section>