section {
    padding-inline: 64px;
    padding-bottom: 100px;
}

.cards img {
    height: 306px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--dark-blue);
}

h4 {
    /* font-family: Manrope; */
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -2%;
}