<section>
    <ul>
        <li>
            <h4><a href="">All Projects</a></h4>
        </li>
        <li>
            <h4>
                <a href="">Commercial Services</a>
            </h4>
        </li>
        <li>
            <h4>
                <a href="">Residential Services</a>
            </h4>
        </li>
        <li>
            <h4>
                <a href="">Emergency Services</a>
            </h4>
        </li>
    </ul>

    <div class="cards">
        <div class="row row-cols-1 row-cols-md-3 g-2">
            <div class="col">
                <div class="card">
                    <img [src]="image1" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img [src]="image2" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img [src]="image3" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img [src]="image4" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img [src]="image5" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img [src]="image6" class="card-img-top" alt="...">
                </div>
            </div>
        </div>
    </div>
</section>