<section>
    <div class="container">
        <div class="row row-cols-md-3 ">
            <div class="reviews">
                <div class="review ">
                    <div class="boody">
                        <div class="head d-flex justify-content-evenly">
                            <img [src]="iconStar" alt="" srcset="">
                            <img [src]="iconStar" alt="" srcset="">
                            <img [src]="iconStar" alt="" srcset="">
                            <img [src]="iconStar" alt="" srcset="">
                            <img [src]="iconStar" alt="" srcset="">
                        </div>
                        <p class="pbody">Lorem ipsum dolor sit amet consectetur. Pretium malesuada pulvinar sed feugiat
                            sem
                            est
                            nisl pharetra.
                            Facilisis ridiculus amet commodo aliquet a phasellus malesuada. Ac id quam mattis neque.
                            Urna
                            tellus
                            ut maecenas interdum. Euismod egestas scelerisque.</p>
                        <div class="bottom d-flex">
                            <div class="left">
                                <img [src]="image1" alt="" srcset="">
                            </div>
                            <div class="right">
                                <h4>Wade Warren</h4>
                                <p class="pbottom">Marketing Coordinator</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="review">
                    <div class="boody">
                        <div class="head d-flex justify-content-evenly">
                            <img [src]="iconStar" alt="" srcset="">
                            <img [src]="iconStar" alt="" srcset="">
                            <img [src]="iconStar" alt="" srcset="">
                            <img [src]="iconStar" alt="" srcset="">
                            <img [src]="iconStar" alt="" srcset="">
                        </div>
                        <p class="pbody">Lorem ipsum dolor sit amet consectetur. Pretium malesuada pulvinar sed feugiat
                            sem
                            est
                            nisl pharetra.
                            Facilisis ridiculus amet commodo aliquet a phasellus malesuada. Ac id quam mattis neque.
                            Urna
                            tellus
                            ut maecenas interdum. Euismod egestas scelerisque.</p>
                        <div class="bottom d-flex">
                            <div class="left">
                                <img [src]="image2" alt="" srcset="">
                            </div>
                            <div class="right">
                                <h4>Wade Warren</h4>
                                <p class="pbottom">Marketing Coordinator</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="review">
                    <div class="boody">
                        <div class="head d-flex justify-content-evenly">
                            <img [src]="iconStar" alt="" srcset="">
                            <img [src]="iconStar" alt="" srcset="">
                            <img [src]="iconStar" alt="" srcset="">
                            <img [src]="iconStar" alt="" srcset="">
                            <img [src]="iconStar" alt="" srcset="">
                        </div>
                        <p class="pbody">Lorem ipsum dolor sit amet consectetur. Pretium malesuada pulvinar sed feugiat
                            sem
                            est
                            nisl pharetra.
                            Facilisis ridiculus amet commodo aliquet a phasellus malesuada. Ac id quam mattis neque.
                            Urna
                            tellus
                            ut maecenas interdum. Euismod egestas scelerisque.</p>
                        <div class="bottom d-flex">
                            <div class="left">
                                <img [src]="image3" alt="" srcset="">
                            </div>
                            <div class="right">
                                <h4>Wade Warren</h4>
                                <p class="pbottom">Marketing Coordinator</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>