 section {
     color: var(--dark-blue);
     margin-bottom: 100px;
 }

 .review {
     background-color: var(--main-bg);
 }

 .boody {
     padding-inline: 24px;
     padding-block: 40px;
 }

 .pbody {
     /* font-family: Inter; */
     font-weight: 400;
     font-style: normal;
     font-size: 16px;
     line-height: 20px;
     letter-spacing: -0.2px;
     padding-block: 20px;
 }

 .right {
     padding-left: 10px;
 }

 .right h4 {
     /* font-family: Manrope; */
     font-weight: 700;
     font-style: Bold;
     font-size: 20px;
     line-height: 30px;
     letter-spacing: -2%;
 }

 .right p {
     /* font-family: Inter; */
     font-weight: 400;
     font-style: normal;
     font-size: 16px;
     line-height: 20px;
     letter-spacing: -0.2px;
 }